<mat-drawer-container autosize>
    <mat-drawer #drawer mode="side" opened>
        <!--Menu Principal-->
        <nav id="sidebar" class="sidebar js-sidebar">
            <div class="sidebar-content js-simplebar">
                <a class="sidebar-brand" href="index.html">
                    <span class="align-middle">AdminKit</span>
                </a>

                <ul class="sidebar-nav">
                    <li class="sidebar-header">
                        Pages
                    </li>
                    <li class="sidebar-item active">
                        <a class="sidebar-link" routerLink="/dashboard">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>
                    <li class="sidebar-item">
                        <a class="sidebar-link" routerLink="/login">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Login</span>
                        </a>
                    </li>
                </ul>
                <!--
                    <li class="sidebar-item active">
                        <a class="sidebar-link" href="index.html">
                            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-profile.html">
                            <i class="align-middle" data-feather="user"></i> <span class="align-middle">Profile</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-sign-in.html">
                            <i class="align-middle" data-feather="log-in"></i> <span class="align-middle">Sign In</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-sign-up.html">
                            <i class="align-middle" data-feather="user-plus"></i> <span class="align-middle">Sign Up</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="pages-blank.html">
                            <i class="align-middle" data-feather="book"></i> <span class="align-middle">Blank</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Tools & Components
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-buttons.html">
                            <i class="align-middle" data-feather="square"></i> <span class="align-middle">Buttons</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-forms.html">
                            <i class="align-middle" data-feather="check-square"></i> <span class="align-middle">Forms</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-cards.html">
                            <i class="align-middle" data-feather="grid"></i> <span class="align-middle">Cards</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="ui-typography.html">
                            <i class="align-middle" data-feather="align-left"></i> <span class="align-middle">Typography</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="icons-feather.html">
                            <i class="align-middle" data-feather="coffee"></i> <span class="align-middle">Icons</span>
                        </a>
                    </li>

                    <li class="sidebar-header">
                        Plugins & Addons
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="charts-chartjs.html">
                            <i class="align-middle" data-feather="bar-chart-2"></i> <span class="align-middle">Charts</span>
                        </a>
                    </li>

                    <li class="sidebar-item">
                        <a class="sidebar-link" href="maps-google.html">
                            <i class="align-middle" data-feather="map"></i> <span class="align-middle">Maps</span>
                        </a>
                    </li>
                </ul>

                <div class="sidebar-cta">
                    <div class="sidebar-cta-content">
                        <strong class="d-inline-block mb-2">Upgrade to pro</strong>
                        <div class="mb-3 text-sm">
                            Msg of day
                        </div>
                        <div class="d-grid">
                            <a href="upgrade-to-pro.html" class="btn btn-primary">Close session</a>
                        </div>
                    </div>
                </div>
            -->
            </div>
        </nav>
        <!--End Menu Principal-->
    </mat-drawer>

    <div>
        <div class="main">
            <!-- Navbar -->
            <mat-toolbar class="navbar navbar-expand navbar-light navbar-bg">
                <button mat-icon-button (click)="drawer.toggle()">
             <mat-icon>sort</mat-icon>
           </button>
                <span class="example-spacer"></span>
                <button mat-icon-button>
                  <mat-icon matBadge="4" matBadgeColor="warn">notifications</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>chat_bubble_outline</mat-icon>
                </button>
                <button mat-button [matMenuTriggerFor]="menu">
                    <img src="assets/img/avatars/avatar.jpg" class="avatar img-fluid rounded me-1" alt="Charles Hall">
                    Ivan E</button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>perm_identity</mat-icon>
                        Perfil</button>
                    <button mat-menu-item>
                        <mat-icon>timeline</mat-icon>
                        Analisis</button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item>
                        <mat-icon>settings</mat-icon>
                        Ajustes</button>
                    <button mat-menu-item>
                        <mat-icon>help_outline</mat-icon>
                        Centro de Ayuda</button>
                    <mat-divider></mat-divider>
                    <button mat-menu-item>
                        <mat-icon>exit_to_app</mat-icon>
                        Cerrar Sesión</button>
                </mat-menu>
            </mat-toolbar>
            <!-- End Navdar -->
            <!--Router-->
            <router-outlet></router-outlet>
            <!--End Router-->
            <!-- Footer -->
            <footer class="footer">
                <div class="container-fluid">
                    <div class="row text-muted">
                        <div class="col-6 text-start">
                            <p class="mb-0">
                                <a class="text-muted" href="https://adminkit.io/" target="_blank"><strong>AdminKit</strong></a> &copy;
                            </p>
                        </div>
                        <div class="col-6 text-end">
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Support</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Help Center</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Privacy</a>
                                </li>
                                <li class="list-inline-item">
                                    <a class="text-muted" href="https://adminkit.io/" target="_blank">Terms</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </footer>
            <!-- End Footer -->
        </div>

    </div>

</mat-drawer-container>